/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* CSS Variables */
:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
}

/* CSS Reuse Styles */
.container {
    max-width: 1440px;
    margin: 3rem auto;
    padding: 2rem 10%;
}

.gray-text {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.section-header {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

/* header start */

/* header End */

/* main section start */

/* why choose us section */

.why-choose .sections-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.why-choose .sections-cards .card {
    padding: 1rem;
    border-radius: 8px;
}

.card-item-1 {
    background-color: rgba(251, 181, 99, 0.05);
    grid-column: 1 / 4;
}

.card-item-2 {
    background-color: rgba(41, 206, 246, 0.05);
    grid-column: 4 / 7;
}

.card-item-3 {
    background-color: rgba(233, 68, 68, 0.05);
    grid-column: 3 / 6;
}

.why-choose .sections-cards .card img {
    width: 50px;
    height: 50px;
}

.why-choose .card .card-title {
    font-size: 1.2rem;
    color: #131313;
    font-weight: 700;
    margin: 1rem 0;
}



/* place section */
.place-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.place-text-container {
    width: 50%;
}

.place-text-container p {
    margin: 1rem 0;
}

.place-list {
    margin-left: 1.5rem;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
}

.place-list li {
    margin-bottom: 10px;
}

.section-title {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800px;
}


.video-container {
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hover-box {
    width: 280px;
    height: 80px;
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
}


/* subscribe section */
.subcribe-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.newsletter-card {
    width: 40%;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1.2rem 1rem;
}

.newsletter-title {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 800;
}

.newsletter-card p {

    margin: 1rem 0;
}

.subscribe-form {
    margin-top: 1rem;
}

.subscribe-form input {
    display: block;
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 0.9rem;
    padding: 15px 20px;
    margin-bottom: 8px;
    border-radius: 5px;
    min-width: 300px;
    border: none;
    outline: 0;
}

.subscribe-form input[type="submit"] {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.image-card {
    width: 55%;
    position: relative;
}

.image-card img {
    width: 100%;
}

.discount-badge {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 8px;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    bottom: 48px;
    right: 0;
    transform: rotate(-35deg);
}

/* main section End */


/* Footer start */

/* Footer End */

footer {
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
}

.footer-top {
    padding: 0 3rem;
}

.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-brand h3 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 800;
}

.footer-brand h3 span {
    color: var(--primary-color);
}

.footer-txt {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

.footer-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.footer-social-icon i {
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.5s;
}

.footer-social-icon i:hover {
    color: var(--primary-color);
}

.footer-bottom p {
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}








/*  responsive media queries  */

/* small devices */
@media screen and (max-width: 600px) {
    .why-choose .sections-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .card-item-1 {
        grid-column: 3 / 6;
    }

    .card-item-2 {
        background-color: rgba(41, 206, 246, 0.05);
        grid-column: 3 / 6;
    }

    .card-item-3 {
        background-color: rgba(233, 68, 68, 0.05);
        grid-column: 3 / 6;


        .place-section,
        .subcribe-container {
            flex-direction: column;
        }

        .place-text-container,
        .newsletter-card,
        .video-container {
            width: 100%;
        }

        .subscribe-form input {
            width: 80%;
        }

        .image-card {
            width: 100%;
        }
    }

    /* medium devices */
    @media screen and (min-width: 600px) and (max-width:992px) {
        .subcribe-container {
            flex-direction: column;
        }

        .newsletter-card {
            width: 100%;
        }

        .subscribe-form input {
            width: 90%;
        }

        .image-card {
            width: 100%;
        }
    }