/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* CSS Variables */


/* CSS Reuse Styles */

/* header start */

/* header End */

/* main section start */

/* main section End */


/* Footer start */

/* Footer End */










/*  responsive media queries  */